import cookie from 'cookie'

class {
    onCreate() {
        var {swindon_presence_login} = cookie.parse(document.cookie)
        this.state = {
            login: swindon_presence_login,
        }
    }
}
<h2>Logged in as: ${state.login}</h2>
<h2>Other users:</h2>
<ul>
    <li>user1</li>
</ul>
