[package]

name = "swindon"
version = "0.2.0"
authors = ["a.popravka@smartweb.com.ua", "paul@colomiets.name"]
description = """
    An HTTP edge (frontend) server with smart websockets support
"""
license = "MIT/Apache-2.0"
readme = "README.rst"
keywords = ["tokio", "http", "websockets", "server", "web"]
categories = ["asynchronous", "web-programming::http-server"]
homepage = "http://github.com/swindon-rs/swindon"
documentation = "https://swindon-rs.github.io/swindon"

[dependencies]
futures = "0.1.9"
futures-cpupool = "0.1.2"
tokio-core = "0.1.4"
quick-error = "1.1.0"
log = "0.3.6"
env_logger = "0.3.5"
rustc-serialize = "0.3.19"
quire = "0.2.2"
argparse = "0.2.1"
time = "0.1.35"
lazy_static = "0.2.1"
mime = "0.2.2"
mime_guess = "1.8.0"
tk-sendfile = "0.3.2"
tk-bufstream = "0.2.4"
tk-http = "0.1.2"
netbuf = "0.3.7"
sha1 = "0.2.0"
byteorder = "0.5.3"
httparse = "1.2.1"
httpbin = "0.1.0"
slab = "0.3.0"
matches = "0.1.4"
assert_matches = "1.0.1"
string-intern = "0.1.4"
rand = "0.3.14"
tk-pool = "0.3.0"
abstract-ns = "0.3.1"
ns-std-threaded = "0.2.0"

[[bin]]
name = "swindon"
path = "src/main.rs"

[[bin]]
name = "swindon-dev"
path = "src/main-dev.rs"
