.Chat {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 100%;
}
.title-block {
    border-bottom: solid gray 1px;
    padding-bottom: 8px;
}
.room-title:before {
    content: "«";
}
.room-title:after {
    content: "»";
}
.chat-body {
    flex-grow: 1;
}

.roster {
    width: 18%;
    min-width: 250px;
    border-right: dashed gray 1px;
    margin-right: 8px
}
.big-arrow {
    display: inline-block;
    font-size: 500%;
    width: 1em;
    text-align: center;
}

.select-room-input-box {
    display: inline-flex;
    width: 15em;
    flex-wrap: wrap;
}
.select-room-input-box > input {
    width: 100%;
}
.select-room-input-box > a {
    padding: 3px
}
