.Room {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 100%;
}
.room-title {
    border-bottom: solid gray 1px;
    padding-bottom: 8px;
}
.room-title:before {
    content: "«";
}
.room-title:after {
    content: "»";
}
.chat-body {
    flex-grow: 1;
}

.roster {
    width: 18%;
    min-width: 250px;
    border-right: dashed gray 1px;
    margin-right: 8px
}
